@import "../abstracts/variables";

.footer {
  padding: 32px 52px;
  background-color: $footer-button-color;
  color: #F8FDFE;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  display: flex;
  justify-content: space-between;
  height: 88px;
  box-sizing: border-box;
  align-items: center;
}