@import "../abstracts/variables";

.header {
  width: 1400px;
  position: fixed;
  z-index: 100;
  top: 0;
}

.header__img-logo {
  width: 136px;
  height: 29px;
}

.header__logo-basket {
  height: 72px;
  box-sizing: border-box;
  display: flex;
  padding: 16px 52px;
  background-color: $primary-color-header;
  align-items: center;
  justify-content: space-between;
}

.header__img-logo {
  width: 136px;
  height: 29px;
}

.header__button-basket {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header__basket {
  width: 40px;
  height: 40px;
  border: none;
  padding: 0;
  color: inherit;
  background-color: transparent;
  position: relative;
}

.header__button-basket {
  span {
    color: #F8FDFE;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
}

.zero-in-basket {
  font-size: 13px;
  font-weight: 500;
  position: absolute;
  top: 8px;
  right: 12px;
}

.header__nav {
  height: 32px;
  width: 100%;
  box-sizing: border-box;
  padding: 4px 52px;
  background-color: #FFFFFF;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  display: flex;
  justify-content: space-between;
}

.header__shop-by {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.header__nav-menu {
  ul {
    display: flex;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-family: Cabin, serif;
    gap: 40px;
  }
}


