@import "base/reset";
@import "layout/header";
@import "layout/footer";
@import "components/button";
@import "abstracts/variables";
@import "components/elements";


.wrapper {
  width: 1400px;
  box-sizing: border-box;
  margin: 0 auto;
  background-color: #EEEEEF;
}

.main__btn-chat-scroll {
  box-sizing: border-box;
  height: 64px;
  width: 64px;
  background-color: #10BBD5;
  border-radius: 50%;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  position: fixed;
  top: 696px;
  right: 290px;
  z-index: 100;
}

.main {
  width: 1296px;
  margin: 104px auto;
  box-sizing: border-box;
}

.main__headline {
  color: #1F1F1F;
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  padding-top: 32px;
  padding-bottom: 23px;
  margin: 0 auto 24px;
  border-bottom: solid $background-color 1px;
}

.main__book-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.main__book {
  width: 306px;
  height: 512px;
  box-sizing: border-box;
  padding: 32px;
  border: solid $background-color 1px;
  background-color: #FFFFFF;
  text-align: center;
  position: relative;
}
.main__image-book {
  img{
  width: 178px;
  height: 280px;
  margin-bottom: 16px;
  }
}
.main__book-info{
  display: flex;
  flex-direction: column;
  text-align: left;
}
.main__name-book{
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
}
.main__name-author{
  display: flex;
  border-bottom: solid 1px $background-color;
  flex-direction: column;
}

.main__author {
  overflow: hidden;
  color: $background-color;
  text-overflow: ellipsis;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.main__price-book{
  color: $price-color;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  margin-top: 8px;
  margin-bottom: 16px;
}
.name-book.transfer{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

