@import "../abstracts/variables";

.main__btn-book-add{
  width: 100%;
  height: 40px;
  display: flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  border-radius: 4px;
  background: $footer-button-color;
  color: #FFFFFF;
  border: $footer-button-color;
}
.main__btn-book-add.btn-end-up{
  background: #4D762D;
}
