@import "../abstracts/variables";

.hit{
  display: inline-block;
  padding: 4px 8px;
  box-sizing: border-box;
  text-align: center;
  gap: 10px;
  color: #F8FDFE;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  border-radius: 4px;
  background: #4200FF;
  position: absolute;
  top: 32px;
  left: 32px;
}
.new{
  display: inline-block;
  padding: 4px 8px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 4px;
  background: #AF39E7;
  color: #F8FDFE;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  position: absolute;
  top: 32px;
  left: 32px;
}
.off{
  display: inline-block;
  padding: 4px 8px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 4px;
  background: #EA33C0;
  color: #F8FDFE;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  position: absolute;
  top: 32px;
  left: 72px;
}
.new-off{
  top: 32px;
  left: 83px;
}
.off.just-off{
  top: 32px;
  left: 32px;
}
.discount{
  display: inline-block;
  margin-left: 24px;
  color: #8E8E8E;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  text-decoration-line: line-through;
}
